In [9]:
import os
import sys
sys.path.append('../')
import pandas as pd
import numpy as np
from statsmodels.stats.power import TTestIndPower
from statsmodels.stats.power import tt_ind_solve_power
from statsmodels.stats.power import FTestAnovaPower
from src.data_quality_checks import check_missing_data
from scipy.stats import chi2_contingency

Load data

In [10]:
# Loading historical data
file_path = "../data/MachineLearningRating_v3.txt"

df = pd.read_csv(file_path, sep='|', low_memory=False)

In [11]:
df.head()

,UnderwrittenCoverID,PolicyID,TransactionMonth,IsVATRegistered,Citizenship,LegalType,Title,Language,Bank,AccountType,...,ExcessSelected,CoverCategory,CoverType,CoverGroup,Section,Product,StatutoryClass,StatutoryRiskType,TotalPremium,TotalClaims
0,145249,12827,2015-03-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
1,145249,12827,2015-05-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
2,145249,12827,2015-07-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0
3,145255,12827,2015-05-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,512.848070,0.0
4,145255,12827,2015-07-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0

In [12]:
# selecting relevant columns
relevant_cols = ['TotalPremium', 'TotalClaims', 'Gender', 'PostalCode', 'Province', 'VehicleType', 'RegistrationYear', 'NewVehicle']

df_relevant_cols = df[relevant_cols]

In [13]:
# selecting relevant columns
relevant_cols = ['TotalPremium', 'TotalClaims', 'Gender', 'PostalCode', 'Province', 'VehicleType', 'RegistrationYear', 'NewVehicle']

df_relevant_cols = df[relevant_cols]

In [14]:
df_relevant_cols

,TotalPremium,TotalClaims,Gender,PostalCode,Province,VehicleType,RegistrationYear,NewVehicle
0,21.929825,0.0,Not specified,1459,Gauteng,Passenger Vehicle,2004,More than 6 months
1,21.929825,0.0,Not specified,1459,Gauteng,Passenger Vehicle,2004,More than 6 months
2,0.000000,0.0,Not specified,1459,Gauteng,Passenger Vehicle,2004,More than 6 months
3,512.848070,0.0,Not specified,1459,Gauteng,Passenger Vehicle,2004,More than 6 months
4,0.000000,0.0,Not specified,1459,Gauteng,Passenger Vehicle,2004,More than 6 months
...,...,...,...,...,...,...,...,...
1000093,347.235175,0.0,Male,7493,Western Cape,Passenger Vehicle,2013,More than 6 months
1000094,347.235175,0.0,Male,7493,Western Cape,Passenger Vehicle,2013,More than 6 months
1000095,347.235175,0.0,Male,7493,Western Cape,Passenger Vehicle,2013,More than 6 months
1000096,2.315000,0.0,Male,7493,Western Cape,Passenger Vehicle,2013,More than 6 months
1000097,2.315000,0.0,Male,7493,Western Cape,Passenger Vehicle,2013,More than 6 months

In [15]:
# checking for columns with missing values
missing_data = check_missing_data(df_relevant_cols)
print(missing_data)

   Column Name  Missing Values  Percentage Missing
2       Gender            9536            0.953507
5  VehicleType             552            0.055195
7   NewVehicle          153295           15.327998

In [16]:
#  cleaning the data
df_relevant_cols.loc[:, 'VehicleType'] = df_relevant_cols['VehicleType'].fillna(df_relevant_cols['VehicleType'].mode()[0])
df_relevant_cols.loc[:, 'NewVehicle'] = df_relevant_cols['NewVehicle'].fillna(df_relevant_cols['NewVehicle'].mode()[0])
df_relevant_cols.loc[:, 'Gender'] = df_relevant_cols['Gender'].fillna(df_relevant_cols['Gender'].mode()[0])

In [17]:
# checking for columns with missing values after cleaning
missing_data = check_missing_data(df_relevant_cols)
print(missing_data)

Success: No missing values.

start AB hypotesis testing

Testing of risk difference across provinces

In [18]:
H0 = "There is no relationship between province and total claims. They are independent"
H1 = "There is a relationship between province and total claims. They are not independent"

In [19]:
province_data = df_relevant_cols[['Province', 'TotalClaims']]

# Create 'NoClaim' and 'ClaimTaken' columns
province_data['NoClaim'] = province_data['TotalClaims'].apply(lambda x: 1 if x == 0 else 0)
province_data['ClaimTaken'] = province_data['TotalClaims'].apply(lambda x: 1 if x > 0 else 0)

# Group by 'Province' and sum 'NoClaim' and 'ClaimTaken'
grouped_data = province_data.groupby('Province')[['NoClaim', 'ClaimTaken']].sum()

print(grouped_data)

C:\Users\meet_\AppData\Local\Temp\ipykernel_17712\3701158574.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  province_data['NoClaim'] = province_data['TotalClaims'].apply(lambda x: 1 if x == 0 else 0)

               NoClaim  ClaimTaken
Province
Eastern Cape     30286          50
Free State        8088          11
Gauteng         392541        1322
KwaZulu-Natal   169298         483
Limpopo          24769          67
Mpumalanga       52588         128
North West      142938         349
Northern Cape     6372           8
Western Cape    170425         370

C:\Users\meet_\AppData\Local\Temp\ipykernel_17712\3701158574.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  province_data['ClaimTaken'] = province_data['TotalClaims'].apply(lambda x: 1 if x > 0 else 0)

In [20]:
# Convert grouped DataFrame to a list of lists
grouped_data_list = grouped_data.values.tolist()

print(grouped_data_list)

[[30286, 50], [8088, 11], [392541, 1322], [169298, 483], [24769, 67], [52588, 128], [142938, 349], [6372, 8], [170425, 370]]

[[30286, 50], [8088, 11], [392541, 1322], [169298, 483], [24769, 67], [52588, 128], [142938, 349], [6372, 8], [170425, 370]]

[[30286, 50],
 [8088, 11],
 [392541, 1322],
 [169298, 483],
 [24769, 67],
 [52588, 128],
 [142938, 349],
 [6372, 8],
 [170425, 370]]

In [21]:
# Perform Chi-square test of independence
chi2_stat, p_value, dof, expected_values = chi2_contingency(grouped_data_list)

print(f'Chi-square statistic: {chi2_stat}')
print(f'p-value: {p_value}')
print(f'Degrees of freedom: {dof}')
print('Expected values:')
print(expected_values)

Chi-square statistic: 104.19041870171219
p-value: 5.926803398618002e-19
Degrees of freedom: 8
Expected values:
[[3.02514311e+04 8.45689031e+01]
 [8.07642209e+03 2.25779123e+01]
 [3.92765012e+05 1.09798793e+03]
 [1.69307695e+05 4.73305411e+02]
 [2.47667637e+04 6.92363290e+01]
 [5.25690415e+04 1.46958541e+02]
 [1.42887553e+05 3.99447007e+02]
 [6.36221421e+03 1.77857859e+01]
 [1.70318868e+05 4.76132180e+02]]

In [22]:
pro=0.95
alpha = 1- pro
print('Significance=%0.3f, p = %0.3f' % (alpha, p_value))
if p_value <= alpha:
    print('Dependent, we reject the null hypothesis')
    print(H1)
    
else:
    print('Independent, we fail to reject the null hypothesis')
    print(H0)

Significance=0.050, p = 0.000
Dependent, we reject the null hypothesis
There is a relationship between province and total claims. They are not independent


Testing risk differences between zip codes

In [23]:
H0 = "There is no relationship between postal code and total claims. They are independent"
H1 = "There is a relationship between postal code and total claims. They are not independent"

In [24]:
postalcode_data = df_relevant_cols[['PostalCode', 'TotalClaims']]

# Create 'NoClaim' and 'ClaimTaken' columns
postalcode_data['NoClaim'] = postalcode_data['TotalClaims'].apply(lambda x: 1 if x == 0 else 0)
postalcode_data['ClaimTaken'] = postalcode_data['TotalClaims'].apply(lambda x: 1 if x > 0 else 0)

# Group by 'Province' and sum 'NoClaim' and 'ClaimTaken'
grouped_data = postalcode_data.groupby('PostalCode')[['NoClaim', 'ClaimTaken']].sum()

print(grouped_data)

C:\Users\meet_\AppData\Local\Temp\ipykernel_17712\3344563132.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  postalcode_data['NoClaim'] = postalcode_data['TotalClaims'].apply(lambda x: 1 if x == 0 else 0)

            NoClaim  ClaimTaken
PostalCode
1              5329          12
2              1482           6
4                77           0
5               396           4
6               438           2
...             ...         ...
9781            640           3
9830             56           0
9868            100           0
9869           1414           1
9870            220           0

[888 rows x 2 columns]

C:\Users\meet_\AppData\Local\Temp\ipykernel_17712\3344563132.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  postalcode_data['ClaimTaken'] = postalcode_data['TotalClaims'].apply(lambda x: 1 if x > 0 else 0)

In [25]:
# Convert grouped DataFrame to a list of lists
grouped_data_list = grouped_data.values.tolist()

print(grouped_data_list)

[[5329, 12], [1482, 6], [77, 0], [396, 4], [438, 2], [356, 0], [1278, 1], [160, 0], [412, 3], [605, 0], [453, 1], [132, 3], [343, 0], [484, 2], [373, 1], [22, 0], [119, 1], [230, 0], [308, 2], [216, 0], [662, 7], [700, 1], [181, 0], [50, 0], [100, 0], [156, 0], [1813, 7], [100, 0], [48961, 210], [1031, 7], [510, 0], [99, 1], [108, 2], [250, 0], [214, 0], [50, 0], [360, 0], [9391, 32], [263, 1], [192, 0], [792, 7], [467, 3], [3546, 10], [906, 1], [585, 0], [380, 0], [478, 2], [1353, 8], [921, 6], [154, 4], [1655, 9], [2502, 13], [395, 2], [1735, 7], [330, 0], [3283, 7], [274, 0], [161, 1], [73, 0], [121, 0], [81, 0], [366, 6], [108, 2], [2040, 4], [805, 5], [1764, 1], [250, 0], [907, 0], [63, 0], [188, 0], [192, 0], [802, 0], [328, 3], [1, 0], [108, 0], [243, 0], [25479, 67], [4983, 7], [90, 0], [9510, 21], [2278, 6], [2547, 8], [1001, 2], [1935, 2], [1563, 5], [160, 0], [543, 1], [5043, 4], [5602, 9], [386, 0], [3500, 3], [728, 1], [1, 0], [60, 0], [7, 0], [831, 3], [714, 3], [60, 0], [1667, 4], [8, 0], [100, 0], [801, 1], [8, 0], [3926, 9], [163, 0], [238, 2], [1387, 3], [17, 0], [480, 0], [66, 0], [90, 0], [104, 0], [370, 0], [6658, 34], [707, 3], [1091, 5], [1966, 9], [132, 0], [108, 0], [872, 1], [401, 0], [790, 6], [3163, 7], [130, 0], [56, 0], [134, 1], [108, 0], [13743, 32], [473, 4], [64, 0], [372, 0], [17, 1], [215, 1], [130, 0], [10182, 44], [3770, 3], [307, 0], [2436, 11], [369, 1], [268, 2], [475, 1], [216, 0], [320, 0], [140, 0], [216, 0], [304, 2], [366, 1], [2916, 6], [768, 0], [807, 3], [100, 0], [70, 0], [66, 0], [348, 1], [329, 0], [533, 0], [578, 2], [180, 0], [132, 0], [237, 2], [110, 0], [1307, 5], [658, 4], [384, 3], [117, 3], [371, 1], [240, 0], [484, 1], [60, 0], [814, 0], [1956, 8], [66, 0], [132, 0], [66, 0], [20, 0], [100, 0], [650, 1], [99, 0], [117, 0], [343, 0], [126, 0], [80, 0], [80, 0], [6237, 19], [312, 2], [99, 0], [129, 1], [70, 0], [208, 0], [131, 1], [171, 0], [56, 0], [144, 0], [125, 0], [110, 0], [543, 1], [320, 0], [232, 0], [2543, 11], [2194, 6], [8460, 16], [59, 1], [348, 2], [36, 0], [36, 0], [1153, 10], [596, 3], [562, 1], [590, 0], [1231, 2], [2329, 9], [1708, 3], [99, 0], [1114, 1], [577, 2], [415, 0], [3523, 5], [180, 0], [3105, 9], [3959, 14], [966, 4], [629, 1], [913, 0], [56, 0], [1027, 1], [1756, 5], [253, 0], [840, 3], [680, 1], [397, 0], [68, 2], [126, 0], [694, 0], [270, 0], [430, 0], [108, 0], [228, 0], [110, 0], [231, 0], [108, 0], [206, 0], [108, 2], [110, 0], [88, 0], [108, 0], [55, 0], [1477, 7], [435, 1], [303, 0], [120, 0], [239, 1], [87, 1], [1120, 5], [1786, 6], [2073, 1], [290, 0], [180, 0], [191, 1], [1342, 2], [160, 0], [1419, 4], [622, 0], [1247, 6], [20, 0], [191, 3], [619, 0], [112, 0], [936, 1], [527, 1], [383, 2], [1760, 4], [182, 2], [110, 1], [81, 0], [150, 0], [1883, 2], [3879, 11], [308, 2], [1007, 2], [253, 2], [2071, 3], [1169, 1], [49, 1], [296, 0], [164, 0], [557, 0], [81, 0], [597, 1], [80, 0], [733, 2], [2108, 2], [140, 0], [208, 1], [81, 0], [178, 0], [70, 0], [3161, 8], [1807, 2], [80, 2], [452, 0], [973, 4], [1605, 1], [131, 0], [120, 0], [555, 0], [90, 0], [779, 3], [1778, 2], [404, 0], [10082, 25], [172, 0], [842, 4], [171, 1], [274, 0], [300, 0], [549, 3], [242, 0], [99, 0], [431, 1], [75, 2], [2406, 8], [65, 0], [1808, 7], [715, 2], [919, 2], [160, 0], [471, 1], [79, 0], [154, 0], [1606, 5], [3008, 5], [253, 2], [110, 0], [1, 0], [2516, 1], [1970, 9], [518, 1], [2171, 4], [3860, 8], [135, 0], [60, 0], [241, 0], [267, 1], [482, 1], [50, 0], [75, 1], [1129, 0], [68, 0], [289, 3], [80, 0], [182, 0], [286, 1], [168, 0], [1799, 4], [252, 0], [58, 0], [1249, 2], [8611, 44], [437, 0], [1487, 6], [346, 0], [3630, 11], [80, 0], [1180, 8], [1392, 1], [48, 0], [60, 0], [50, 0], [206, 0], [173, 0], [32, 0], [1038, 1], [72, 0], [87, 2], [230, 0], [63, 1], [361, 0], [312, 0], [437, 1], [800, 0], [1271, 7], [133012, 486], [2985, 4], [297, 0], [180, 0], [47, 1], [1502, 2], [150, 0], [90, 0], [70, 0], [22, 0], [70, 0], [406, 2], [2413, 11], [888, 4], [16, 0], [750, 3], [90, 0], [90, 0], [139, 1], [167, 1], [336, 2], [677, 1], [53, 1], [3450, 12], [1722, 6], [1365, 5], [1338, 4], [539, 1], [180, 0], [217, 0], [120, 0], [550, 6], [99, 1], [742, 9], [436, 1], [573, 1], [280, 0], [414, 0], [499, 1], [30, 0], [336, 0], [1697, 8], [143, 0], [11016, 32], [437, 2], [3333, 13], [1, 0], [121, 0], [100, 0], [261, 3], [120, 0], [402, 1], [4121, 7], [66, 0], [263, 0], [79, 1], [1440, 2], [30, 0], [768, 0], [160, 0], [1300, 5], [66, 0], [290, 0], [200, 0], [192, 0], [159, 1], [55, 0], [136, 0], [1, 0], [1245, 1], [362, 0], [2104, 5], [547, 1], [270, 0], [20, 0], [550, 0], [110, 0], [149, 2], [66, 0], [60, 0], [1708, 0], [262, 0], [80, 0], [1304, 0], [1499, 1], [1064, 1], [82, 0], [207, 1], [900, 4], [52, 3], [121, 0], [220, 0], [419, 1], [2, 0], [461, 1], [72, 0], [3, 0], [292, 0], [144, 0], [503, 2], [132, 0], [1843, 7], [563, 1], [119, 0], [2109, 9], [105, 0], [144, 0], [171, 0], [70, 0], [994, 2], [24, 0], [240, 0], [196, 0], [9, 0], [170, 0], [144, 0], [230, 0], [461, 1], [102, 2], [775, 0], [689, 0], [80, 0], [154, 0], [120, 1], [72, 0], [135, 1], [6409, 20], [99, 0], [3508, 2], [198, 0], [121, 0], [388, 2], [247, 1], [1765, 6], [226, 2], [12, 0], [69, 1], [225, 0], [1, 0], [241, 0], [475, 2], [45, 0], [660, 3], [9, 0], [49, 1], [45, 0], [983, 1], [32, 0], [285, 2], [80, 0], [132, 0], [390, 0], [421, 2], [264, 0], [1507, 1], [1, 0], [25, 0], [968, 0], [2, 0], [58, 0], [179, 0], [60, 0], [83, 1], [529, 1], [2621, 4], [45, 0], [108, 0], [277, 1], [1580, 1], [150, 0], [5232, 13], [6627, 20], [1905, 3], [400, 1], [220, 2], [1811, 1], [10, 0], [64, 0], [3195, 9], [36, 0], [118, 3], [860, 2], [650, 7], [5848, 21], [6248, 19], [2564, 12], [10, 0], [2238, 7], [1307, 7], [317, 3], [1495, 5], [1595, 9], [1250, 3], [132, 0], [2157, 17], [925, 5], [3773, 8], [1728, 0], [8204, 30], [1517, 6], [323, 1], [2222, 4], [619, 1], [115, 0], [76, 0], [289, 2], [839, 0], [3934, 19], [6506, 20], [1753, 8], [882, 6], [3604, 16], [73, 0], [870, 2], [3291, 3], [316, 0], [96, 0], [1179, 1], [286, 2], [831, 1], [5484, 15], [70, 0], [377, 1], [455, 5], [64, 0], [32, 0], [578, 3], [589, 11], [88, 0], [132, 0], [56, 0], [1431, 10], [72, 0], [438, 0], [180, 0], [274, 0], [128, 0], [144, 0], [495, 0], [1026, 2], [1008, 5], [54, 0], [458, 1], [5872, 6], [71, 0], [3511, 12], [9703, 27], [705, 2], [309, 0], [382, 0], [296, 1], [2380, 1], [186, 0], [1598, 2], [730, 0], [628, 0], [18, 0], [60, 0], [70, 0], [120, 0], [91, 0], [323, 1], [629, 1], [312, 0], [217, 0], [224, 0], [129, 0], [48, 0], [11, 0], [1155, 1], [256, 0], [1021, 2], [108, 0], [90, 0], [1815, 3], [269, 0], [335, 2], [82, 0], [435, 2], [886, 1], [1754, 2], [148, 0], [180, 0], [178, 0], [1, 0], [466, 0], [344, 0], [363, 0], [312, 0], [110, 0], [424, 1], [299, 0], [1420, 1], [1450, 1], [134, 0], [230, 1], [419, 0], [229, 0], [140, 0], [808, 6], [2, 0], [408, 0], [54, 0], [131, 1], [729, 1], [36, 0], [80, 0], [216, 0], [90, 0], [62, 1], [365, 0], [223, 0], [306, 0], [80, 0], [80, 0], [215, 2], [252, 1], [80, 0], [98, 1], [108, 0], [187, 0], [216, 0], [777, 1], [316, 0], [479, 0], [187, 0], [22, 0], [88, 0], [112, 0], [246, 0], [157, 1], [1020, 1], [150, 0], [120, 0], [403, 0], [2538, 4], [1615, 12], [121, 0], [369, 0], [77, 0], [600, 0], [180, 0], [104, 0], [153, 0], [335, 1], [551, 1], [288, 0], [107, 1], [783, 1], [458, 1], [1, 0], [3, 0], [219, 0], [2, 0], [1, 0], [508, 1], [159, 1], [1, 0], [216, 0], [225, 0], [90, 0], [144, 0], [320, 1], [10133, 28], [447, 0], [1813, 2], [92, 0], [196, 2], [3895, 14], [493, 2], [1037, 1], [64, 0], [66, 0], [405, 0], [1, 0], [151, 0], [1, 0], [1, 0], [438, 1], [108, 0], [18489, 29], [279, 0], [340, 0], [756, 0], [4451, 21], [80, 0], [1951, 6], [1993, 6], [133, 0], [675, 1], [1, 0], [1793, 1], [1587, 2], [305, 0], [1512, 0], [681, 1], [132, 0], [1597, 2], [240, 0], [267, 0], [1720, 5], [1, 0], [675, 0], [5994, 10], [3, 0], [264, 0], [2812, 3], [1040, 4], [4, 0], [2, 0], [356, 0], [441, 0], [284, 0], [173, 0], [57, 0], [55, 0], [152, 0], [287, 4], [1972, 0], [9390, 17], [258, 3], [126, 0], [1, 0], [5, 0], [2760, 12], [1064, 0], [2851, 4], [96, 0], [1258, 2], [28535, 50], [5903, 14], [445, 0], [59, 0], [1, 0], [4, 0], [2427, 4], [233, 0], [5563, 5], [216, 0], [635, 4], [185, 0], [1077, 0], [3, 0], [932, 6], [2724, 4], [598, 1], [2084, 10], [11743, 51], [589, 1], [519, 1], [4501, 16], [4849, 8], [390, 0], [883, 3], [547, 2], [297, 0], [439, 0], [99, 0], [88, 0], [297, 0], [241, 1], [220, 0], [1615, 3], [99, 0], [417, 0], [306, 0], [124, 0], [100, 0], [72, 0], [88, 0], [127, 0], [531, 0], [289, 1], [60, 0], [582, 2], [1, 0], [70, 0], [54, 1], [120, 0], [36, 0], [1813, 2], [956, 1], [359, 1], [54, 1], [297, 0], [110, 0], [277, 0], [80, 0], [90, 0], [90, 0], [153, 1], [96, 0], [108, 0], [2, 0], [100, 0], [165, 0], [50, 0], [45, 0], [400, 0], [120, 0], [131, 1], [212, 0], [640, 3], [56, 0], [100, 0], [1414, 1], [220, 0]]

In [26]:
# Perform Chi-square test of independence
chi2_stat, p_value, dof, expected_values = chi2_contingency(grouped_data_list)

print(f'Chi-square statistic: {chi2_stat}')
print(f'p-value: {p_value}')
print(f'Degrees of freedom: {dof}')
print('Expected values:')
print(expected_values)

Chi-square statistic: 1454.456517818413
p-value: 3.159060974473238e-30
Degrees of freedom: 887
Expected values:
[[5.32611068e+03 1.48893233e+01]
 [1.48385184e+03 4.14815822e+00]
 [7.67853440e+01 2.14656037e-01]
 ...
 [9.97212259e+01 2.78774074e-01]
 [1.41105535e+03 3.94465315e+00]
 [2.19386697e+02 6.13302963e-01]]

In [27]:
pro=0.95
alpha = 1- pro
print('Significance=%0.3f, p = %0.3f' % (alpha, p_value))
if p_value <= alpha:
    print('Dependent, we reject the null hypothesis')
    print(H1)
    
else:
    print('Independent, we fail to reject the null hypothesis')
    print(H0)

Significance=0.050, p = 0.000
Dependent, we reject the null hypothesis
There is a relationship between postal code and total claims. They are not independent


Testing the risk differences between men and women

In [28]:
H0 = "There is no risk difference between women and men. They are independent"
H1 = "There is a risk difference between women and men. They are not independent"

In [29]:
gender_data = df_relevant_cols[['Gender', 'TotalClaims']]

# Create 'NoClaim' and 'ClaimTaken' columns
gender_data['NoClaim'] = gender_data['TotalClaims'].apply(lambda x: 1 if x == 0 else 0)
gender_data['ClaimTaken'] = gender_data['TotalClaims'].apply(lambda x: 1 if x > 0 else 0)

# Group by 'Province' and sum 'NoClaim' and 'ClaimTaken'
grouped_data = gender_data.groupby('Gender')[['NoClaim', 'ClaimTaken']].sum()

print(grouped_data)

C:\Users\meet_\AppData\Local\Temp\ipykernel_17712\2603944386.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gender_data['NoClaim'] = gender_data['TotalClaims'].apply(lambda x: 1 if x == 0 else 0)
C:\Users\meet_\AppData\Local\Temp\ipykernel_17712\2603944386.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gender_data['ClaimTaken'] = gender_data['TotalClaims'].apply(lambda x: 1 if x > 0 else 0)

               NoClaim  ClaimTaken
Gender
Female            6741          14
Male             42723          94
Not specified   947841        2680

In [30]:
# Convert grouped DataFrame to a list of lists
grouped_data_list = grouped_data.values.tolist()

print(grouped_data_list)

[[6741, 14], [42723, 94], [947841, 2680]]

In [31]:
# Perform Chi-square test of independence
chi2_stat, p_value, dof, expected_values = chi2_contingency(grouped_data_list)

print(f'Chi-square statistic: {chi2_stat}')
print(f'p-value: {p_value}')
print(f'Degrees of freedom: {dof}')
print('Expected values:')
print(expected_values)

Chi-square statistic: 6.9921715769627895
p-value: 0.030315813998297487
Degrees of freedom: 2
Expected values:
[[6.73616881e+03 1.88311887e+01]
 [4.26976373e+04 1.19362695e+02]
 [9.47871194e+05 2.64980612e+03]]

In [32]:
#uu
pro=0.95
alpha = 1- pro
print('Significance=%0.3f, p = %0.3f' % (alpha, p_value))
if p_value <= alpha:
    print('Dependent, we reject the null hypothesis')
    print(H1)
    
else:
    print('Independent, we fail to reject the null hypothesis')
    print(H0)

Significance=0.050, p = 0.030
Dependent, we reject the null hypothesis
There is a risk difference between women and men. They are not independent